body {
    font-family: 'Segoe UI Emoji', sans-serif;
    padding-left: 1em;
    padding-right: 2em;
}

.book-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.book-block input, .book-block textarea {
    display: block;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
}

.book-block button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.book-block button:hover {
    background-color: #ff1a1a;
}

#add-book-button, #submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#add-book-button:hover, #submit-button:hover {
    background-color: #45a049;
}

#sortable-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sortable-list li {
    font-size: small;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
}

#sortable-list li b {
    font-size: medium;
}

#sortable-list li:hover {
    background-color: #e0e0e0;
}

#form-container {
    margin-bottom: 20px;
}